* {
  font-family: FreeMono, monospace;
  color: white;
}

html {
  background-color: #2B303A;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Header {
  height: 20px;
  width: calc(100% - 20px);
  padding: 10px;
  text-align: right;
  background-color: #58A4B0;
  color: white;
  position: fixed;
  z-index: 10;
  clear:none;
}
.HeaderSpacer {
  height:30px;
}
.HeaderLeft {
  float: left;
  margin: 0px;
}
.HeaderRight {
  float: right;
  margin: 0px;
}
.HeaderLink {
  height: 24px;
  width: 24px;
}

.AppBody {
  display: grid;
  grid-template-columns: 1fr, 2fr, 1fr;
}

.CentralColumn {
  grid-column: 2;
}
.LeftColumn {
  grid-column: 1;
}

.RightColumn {
  grid-column: 3;
}