* {
  font-family: FreeMono, monospace;
  color: white;
}

html {
  
  --lightBlue: #58A4B0;
  --mainBlue: #2B303A;
  --darkBlue: #282c34;
  background-color: var(--mainBlue);
}

.App {
  text-align: center;
}

.Header {
  height: 20px;
  width: calc(100% - 20px);
  padding: 10px;
  text-align: right;
  background-color: var(--lightBlue);
  color: white;
  position: fixed;
  z-index: 10;
  clear:none;
}
.HeaderSpacer {
  height:50px;
}
.HeaderLeft {
  float: left;
  margin: 0px;
}
.HeaderRight {
  float: right;
  margin: 0px;
  margin-right: 5px;
}
.HeaderLink {
  height: 24px;
  width: 24px;
}

.AppBody {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.CentralColumn {
  grid-column: 2;
  text-align: left;
}
.LeftColumn {
  grid-column: 1;
}

.RightColumn {
  grid-column: 3;
}

.SectionHeader {
  margin-top: 0px;
  font-weight: normal;
}

.Section {
  background-color: var(--lightBlue);
  border-radius: 10px;
  padding: 10px;
  margin-top: 70px;
}

.PostHeader {
  font-weight: normal;
  margin: 10px;
}

.Post {
  background-color: var(--mainBlue);
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
}

.PostBody {
  background-color: var(--darkBlue);
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
  
}

.PostBody p {
  margin: 10px;
}